<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <table>
        <tr>
          <td>
            <mat-form-field appearance="legacy">
              <mat-label>Felhasznalói név</mat-label>
              <input formControlName="nev" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="legacy">
              <mat-label>Jelszó</mat-label>
              <input formControlName="jelszo" type="password" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button>Bejelentkezés</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
