<mat-card class="card">
    <mat-card-content>
        <form id="form1" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
            <table>
                <tr>
                    <td><br>
                        <mat-form-field>
                            <mat-select formControlName="elotag">
                                <mat-option value="null"> </mat-option>
                                <mat-option value="dr">dr</mat-option>
                                <mat-option value="if">if</mat-option>
                                <mat-option value="idősebb">idősebb</mat-option>
                            </mat-select>
                        </mat-form-field> 
                    </td>
                </tr>
                <tr>
                    <td>            
                        <mat-form-field appearance="legacy">
                        <mat-label>Vezetéknév</mat-label>
                        <input formControlName="vezeteknev" matInput>
                        </mat-form-field>            
                    </td>
                </tr>
                <tr>
                    <td>            
                        <mat-form-field appearance="legacy">
                        <mat-label>Keresztnév</mat-label>
                        <input formControlName="keresztnev" matInput>
                        </mat-form-field>
                    
                    </td>
                </tr>
                    <tr>
                        <td>            
                        <mat-form-field appearance="legacy">
                        <mat-label>Intézmény név</mat-label>
                        <input formControlName="intezmeny_nev" matInput>
                        </mat-form-field>            
                    </td>
                </tr>
                <tr>
                    <td>            
                        <mat-form-field appearance="legacy">
                        <mat-label>rendfokozat</mat-label>
                        <input formControlName="rendfokozat" matInput>
                        </mat-form-field>            
                    </td>
                </tr>
                <tr>
                    <td>            
                        <button type="button" mat-button (click)="fotoKeszites=!fotoKeszites">
                            <img *ngIf="!cardForm.controls['img'].value" height="90" src="./assets/portre.gif">
                            <img *ngIf="cardForm.controls['img'].value" height="90" [src]="cardForm.controls['img'].value">
                        </button>
                    </td>
                </tr>
                <br>
                <tr>
                    <td *ngIf="!id">
                        <button mat-raised-button >új kártya készitese</button>
                    </td>
                    <td *ngIf="id">
                        <button mat-raised-button >Mentés</button>
                    </td>
                    <td>
                        <a mat-raised-button routerLink="/">Mégse</a>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-content>
        <form id="form1" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
            <table>
                
                <tr *ngIf="fotoKeszites">
                    <webcam 
                        [height]="300"
                        [width]="300"
                        [trigger]="triggerObservable"
                        (imageCapture)="handleImage($event)"
                        [allowCameraSwitch]="allowCameraSwitch"
                        [switchCamera]="nextWebcamObservable"
                        [imageQuality]="1"
                        (cameraSwitched)="cameraWasSwitched($event)"
                        (initError)="handleInitError($event)">
                    </webcam>
                    <br/>
                    <button type="button" mat-raised-button (click)="triggerSnapshot();">
                        Foto Készítés
                    </button>
                </tr>
                <br>
            </table>
        </form>
    </mat-card-content>
</mat-card>