
    .card{
        position: relative;
        width: 85mm;
        height: 54mm;
        overflow: hidden;
        top: 10px;
        left: 10px;
        line-height: normal;
    }
    .bt{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    .in{
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: larger;
        font-weight: bold;
    }
    .img{
        position: absolute;
        width:  113px;
        height: 121px;
        left: 23px;
        top: 82px;
    }
    .id{
        position: absolute;
        font-weight: bold;
        left: 10px;
        bottom: 10px;

    }
    .kn{
        position: absolute;
        font-size: larger;
        font-weight: bold;
        bottom: 110px;
        left: 135px;
    }
    .lcs{
        position: absolute;
        font-size: larger;
        font-weight: bold;
        bottom: 75px;
        left: 135px;
    }
    .rf{
        position: absolute;

        bottom: 95px;
        left: 135px;
    }
    .vn{
        position: absolute;
        font-size: larger;
        font-weight: bold;
        bottom: 130px;
        left: 135px; 
        max-width: 125px;  
    }
    @media print{
        .bt{
            display: none;
        }.card{
            border-style: dashed;
            border-color: brown;
        }
        
    }
