<table>
  <tr>
    <th>azonosito</th>
    <th>teljes nev</th>
    <th>intezmeny_nev</th>
    <th>rendfokozat</th>
    <th>kep</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let card of (httpGetCards | async)">
    <td>{{card.id}}</td>
    <td>{{card.elotag}} {{card.vezeteknev}} {{card.keresztnev}}</td>
    <td>{{card.intezmeny_nev}}</td>
    <td>{{card.rendfokozat}}</td>
    <td><img height="90" [src]="card.img"></td>
    <td><button [routerLink]="['/kartya',card.id]">modosit</button></td>
    <td><button (click)="delete(card.id)">torles</button></td>
  </tr>
</table>